{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<!-- Header -->
<div class="header">
    <div class="row">

        <div class="col-lg-5">
            <h1 class="header-title">Money in good hands.</h1>
            <p>Invest and grow your wealth with a wide selection of stocks on a reputable online stock trading platform.</p>
            <a href="/register"><button class="btn btn-lg" type="button">Get Started</button></a>
        </div>

        <div class="col-lg-7">
            <img src="static/header.gif" alt="header-gif">
        </div>

    </div>
</div>

<!-- Feature-1 -->
<div class="feature-1">
    <div class="row">

        <div class="col-lg-7">
            <img src="static/feature-1.gif" alt="feature-1-gif">
        </div>

        <div class="col-lg-5 description">
            <h3>Build your wealth with the easiest way it can be.</h3>
            <p>Wtih Finance, you finally have true flexibility over how you manage your money. All you need is to invest in a good place.</p>
        </div>

    </div>
</div>

<!-- Feature-2 -->
<div class="feature-2">
    <div class="row">

        <div class="col-lg-7">
            <img src="static/feature-2.gif" alt="feature-2-gif">
        </div>

        <div class="col-lg-5 description">
            <h3>Live and retire the way you want it to be.</h3>
            <p>What do you want your retirement to look like? Choose the best investment platform and build an investment plan with Finance.</p>
        </div>

    </div>
</div>

<!-- Feature-3 -->
<div class="feature-3">
    <div class="row">

        <div class="col-lg-7">
            <img src="static/feature-3.gif" alt="feature-3-gif">
        </div>

        <div class="col-lg-5 description">
            <h3>Join millions of like-minded investors.</h3>
            <p>Join the Social Trading revolution. Connect with other traders, discuss trading strategies and share knowledge together.</p>
        </div>

    </div>
</div>

<!-- Feature-4 (Carousel) -->
<div class="feature-4">

    <h1>100% stocks, 0% commission</h1>
    <p>Investing in the financial markets has never been easier. Start building your wealth today with Finance.<p>
        <a href="/register"><button class="btn btn-primary btn-lg">Start Trading</button></a>

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/stock-logo/1.png" class="d-block w-100" alt="facebook-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/2.png" class="d-block w-100" alt="amazon-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/3.png" class="d-block w-100" alt="netflix-img">
                        </div>
                    </div>
                </div>
            </div> <br>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/stock-logo/4.png" class="d-block w-100" alt="google-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/5.png" class="d-block w-100" alt="microsoft-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/6.png" class="d-block w-100" alt="tesla-img">
                        </div>
                    </div>
                </div>
            </div> <br>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/stock-logo/7.png" class="d-block w-100" alt="pinterest-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/8.png" class="d-block w-100" alt="alibaba-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/9.png" class="d-block w-100" alt="ibm-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/10.png" class="d-block w-100" alt="ebay-img">
                        </div>
                    </div>
                </div>
            </div> <br>

        </div> <br>

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/stock-logo/11.png" class="d-block w-100" alt="cisco-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/12.png" class="d-block w-100" alt="nvidia-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/13.png" class="d-block w-100" alt="amd-img">
                        </div>
                    </div>
                </div>
            </div> <br>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/stock-logo/14.png" class="d-block w-100" alt="oracle-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/15.png" class="d-block w-100" alt="dell-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/16.png" class="d-block w-100" alt="apple-img">
                        </div>
                    </div>
                </div>
            </div> <br>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/stock-logo/17.png" class="d-block w-100" alt="twitter-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/18.png" class="d-block w-100" alt="zoom-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/19.png" class="d-block w-100" alt="xiaomi-img">
                        </div>
                        <div class="carousel-item">
                            <img src="static/stock-logo/20.png" class="d-block w-100" alt="baidu-img">
                        </div>
                    </div>
                </div>
            </div> <br>

        </div>

</div>

<!-- Features -->
<div class="features">
    <div class="row">

        <div class="feature-box col-lg-3 col-md-6 mb-5">
            <i class="far fa-check-circle icon fa-5x"></i>
            <h3>Easy to use</h3>
            <p>Build your wealth for future while living a hassle-free life.</p>
        </div>

        <div class="feature-box col-lg-3 col-md-6 mb-5">
            <i class="fas fa-coins icon fa-5x"></i>
            <h3>Commission-free</h3>
            <p>No management and commission fees are charged.</p>
        </div>

        <div class="feature-box col-lg-3 col-md-6 mb-5">
            <i class="fas fa-shield-alt icon fa-5x"></i>
            <h3>Guaranteed safe</h3>
            <p>Keep our customers safe with client data protection.</p>
        </div>

        <div class="feature-box col-lg-3 col-md-6 mb-5">
            <i class="fas fa-exchange-alt icon fa-5x"></i>
            <h3>Freedom</h3>
            <p>Deposit and withdraw your money anytime, anywhere.</p>
        </div>

    </div>
</div>

{% endblock %}